<!DOCTYPE html>
<html>

<head>
    <script src="face-api.js"></script>
    <script src="js/commons.js"></script>
    <script src="js/faceDetectionControls.js"></script>
    <link rel="stylesheet" href="styles.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/css/materialize.css">
    <script type="text/javascript" src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.100.2/js/materialize.min.js"></script>
</head>

<body>
    <div id="navbar"></div>
    <div class="center-content page-container">

        <div class="progress" id="loader">
            <div class="indeterminate"></div>
        </div>

        <a class="waves-effect waves-light btn" id="previewToggle" onclick="togglePreviewVideo()">Show Preview</a>
        <div id="loading">
            <img id="loading-image" src="loading.gif" alt="Loading..." />
        </div>
        <div id="previewVideo" style="margin-top: 20px; display: none;">
            <div style="position: relative" class="margin">
                <!-- <video onloadedmetadata="onPlay(this)" id="inputVideo" autoplay muted playsinline></video> -->
                <canvas id="overlay" />
            </div>
        </div>
        <div class="row">
            <div class="col">
                <h1 id="shoulderSurferDetector"></h1>
            </div>
        </div>


        <div class="row">
            <!-- alert-type-selector-control -->
            <div class="col">
                <div id="alert_type_selector_control" class="input-field">
                    <select id="selectAlertType">
                        <option value="alert">Alert</option>
                        <option value="camera_preview">Camera Preview</option>
                        <option value="vibration">Vibration</option>
                        <option value="sound">Sound</option>
                        <option value="brightness">Brightness</option>
                    </select>
                    <label>Select Alert Type</label>
                </div>
            </div>

            <!-- alert-type-selector-control  -->
        </div>
    </div>
    <div class="container">
        <div id="game-canvas">
            <div id="game-ui">
                <p id="game-score"></p>

                <div id="game-end-container">
                    <div id="game-end">
                        <div id="game-end-title">Game Over!</div>
                        <a id="game-end-link" href="">Try Again</a>
                    </div>
                </div>

                <div id="game-status">
                    <div class="game-status-item">
                        <div class="game-status-label">Highscore</div>
                        <div id="game-highscore-value">0</div>
                    </div>
                    <div class="game-status-item">
                        <div class="game-status-label">Next</div>
                        <img id="game-next-fruit" src="./assets/img/circle0.png" />
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>

<script>
    let forwardTimes = []
    let withBoxes = true

    function onChangeHideBoundingBoxes(e) {
        withBoxes = !$(e.target).prop('checked')
    }

    function updateTimeStats(timeInMs) {
        forwardTimes = [timeInMs].concat(forwardTimes).slice(0, 30)
        const avgTimeInMs = forwardTimes.reduce((total, t) => total + t) / forwardTimes.length
        $('#time').val(`${Math.round(avgTimeInMs)} ms`)
        $('#fps').val(`${faceapi.utils.round(1000 / avgTimeInMs)}`)
    }

    function showPreview(){
        document.getElementById('inputVideo').style.display = "block";
        document.getElementById('previewVideo').style.display = "block";
        document.getElementById('previewToggle').textContent = 'Hide Preview';
        
    }

    async function onPlay() {
        const videoEl = $('#inputVideo').get(0)

        if (videoEl.paused || videoEl.ended || !isFaceDetectionModelLoaded())
            return setTimeout(() => onPlay())

        
        const options = getFaceDetectorOptions()

        const ts = Date.now()

        // const result = await faceapi.detectSingleFace(videoEl, options).withFaceLandmarks()
        const results = await faceapi.detectAllFaces(videoEl, options).withFaceLandmarks()

        updateTimeStats(Date.now() - ts)
        let isInstruder = false;

        if (results) {
            $('#loading').hide()
            console.log("Faces detected " + results.length);
            const canvas = $('#overlay').get(0)
            faceapi.matchDimensions(canvas, videoEl)
            const dims = faceapi.matchDimensions(canvas, videoEl, true)
            const resizedResults = faceapi.resizeResults(results, dims)
            let intruders = results.slice(1);

            intruders.forEach(fc => {
                let orientation = detectOrientation(fc);


                if (orientation == "center") {
                    isInstruder = true;
                } else {
                    isInstruder = false;
                }
                //Trigger alert
            });

            if (isInstruder) {
                $('#shoulderSurferDetector').text("Detected");
                let alertType = $('#selectAlertType').val();
                if (alertType == "alert") {
                    alert("Take a rest.");
                } else if (alertType == "camera_preview") {
                    showPreview();

                    // document.getElementById('inputVideo').style.display = 'block';
                    // document.getElementById('previewVideo').style.display = 'block';

                    const resizedIntruderResults = faceapi.resizeResults(intruders, dims)
                    faceapi.draw.drawDetections(canvas, resizedIntruderResults)
                } else if (alertType == 'sound') {
                    var sound = new Audio('sound.wav');
                    sound.play()
                } else if (alertType == "brightness") {
                    setBrightness(20);
                } else {
                    navigator.vibrate([
                        100, 30, 100, 30, 100, 30, 200, 30, 200, 30, 200, 30, 100, 30, 100, 30, 100,
                    ]);
                }

            } else {
                $('#shoulderSurferDetector').text("");

            }

            // if (withBoxes) {
            //   faceapi.draw.drawDetections(canvas, resizedResults)
            // }
            // faceapi.draw.drawFaceLandmarks(canvas, resizedResults)
        }

        setTimeout(() => onPlay())
    }

    function setBrightness(val) {
        let body = document.getElementsByTagName("html")[0];
        body.setAttribute("style", "filter: brightness(" + val + "%);");
    }

    async function run() {
        // load face detection and face landmark models
        await changeFaceDetector(TINY_FACE_DETECTOR)
        await faceapi.loadFaceLandmarkModel('/')
        changeInputSize(608)

        // try to access users webcam and stream the images
        // to the video element
        const stream = await navigator.mediaDevices.getUserMedia({ video: {} })
        const videoEl = $('#inputVideo').get(0)
        videoEl.srcObject = stream
    }

    function getTop(l) {
        return l.map((a) => a.y).reduce((a, b) => Math.min(a, b));
    }

    function getMeanPosition(l) {
        return l.map((a) => [a.x, a.y]).reduce((a, b) => [a[0] + b[0], a[1] + b[1]]).map((a) => a / l.length);
    }

    function detectOrientation(detections) {
        if (!detections || detections == undefined) {
            return null;
        }
        let landmark = detections["landmarks"];
        var right_eye = getMeanPosition(landmark.getRightEye());
        var left_eye = getMeanPosition(landmark.getLeftEye());
        var nose = getMeanPosition(landmark.getNose());
        var mouth = getMeanPosition(landmark.getMouth());
        var jaw = getTop(landmark.getJawOutline());
        // console.log(eye_right);
        let detection = detections["detection"]
        var rx = (jaw - mouth) / detection["_box"]["_height"];
        var ry = (left_eye[0] + (right_eye[0] - left_eye[0]) / 2 - nose[0]) / detection["_box"]["_width"];

        var face_val = ry.toFixed(2);

        if (face_val < -0.06) {
            //user moving in left direction
            console.log("Left")
            return "left";
        }
        else if (face_val >= 0.07) {
            //user moving in right direction	
            console.log("Right")
            return "right";
        }
        else {
            console.log("Center")
            return "center";
            //user face in facing front side of webcam
        }
    }

    function updateResults() { }

    const inputAlertSelect = $('#selectAlertType')
    // inputAlertSelect.val(512)
    // inputAlertSelect.on('change', onInputSizeChanged)
    inputAlertSelect.material_select()

    // function triggerAlert(alertType){

    // }
    function alertSelectionOnChange() {
        $('#selectAlertType').on('change', function () {
            setBrightness(100);
        })
    }

    $(document).ready(function () {
        renderNavBar('#navbar', 'webcam_face_landmark_detection')
        renderVideoAndRun()
        initFaceDetectionControls()
        // run()
        alertSelectionOnChange()
        // console.log("Hello world");
    })

    function togglePreviewVideo() {
        $('#loading').show()
        const previewEl = $('#previewVideo').get(0)
        const previewToggle = $('#previewToggle').get(0)
        document.getElementById('inputVideo').remove();

        if (previewEl.style.display === "none") {
            previewEl.style.display = "block";
            renderVideoAndRun(true);
            previewToggle.textContent = "Hide Preview";
        } else {
            previewEl.style.display = "none";
            renderVideoAndRun();
            previewToggle.textContent = "Show Preview";
        }
    }

    

    function renderVideoAndRun(showVid = false) {
        this.video = document.createElement('video');
        this.video.setAttribute('id', 'inputVideo');
        this.video.setAttribute('autoplay', 'muted');
        this.video.setAttribute('onloadedmetadata', "onPlay(this)")
        document.getElementById('previewVideo').appendChild(this.video);
        let displayVid = showVid == false ? 'none' : 'block';
        // console.log(displayVid)
        document.getElementById('inputVideo').style.display = displayVid;
        run();
    }

    
</script>
<script src="js/matter.js"></script>
<script src="js/game.js?v=4"></script>
</body>

</html>
