.page-container {
  left: 0;
  right: 0;
  margin: auto;
  margin-top: 20px;
  padding-left: 280px;
  display: inline-flex !important;
}

@media only screen and (max-width : 992px) {
  .page-container {
    padding-left: 0;
    display: flex !important;
  }
}

#navbar {
  position: absolute;
  top: 20px;
  left: 20px;
}

.center-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.side-by-side {
  display: flex;
  justify-content: center;
  align-items: center;
}
.side-by-side >* {
  margin: 0 5px;
}

.bold {
  font-weight: bold;
}

.margin-sm {
  margin: 5px;
}

.margin {
  margin: 20px;
}

.button-sm {
  padding: 0 10px !important;
}

.pad-sides-sm {
  padding: 0 8px !important;
}

#github-link {
  display: flex !important;
  justify-content: center;
  align-items: center;
  border-bottom: 1px solid;
  margin-bottom: 10px;
}

#overlay, .overlay {
  position: absolute;
  top: 0;
  left: 0;
}

#facesContainer canvas {
  margin: 10px;
}

input[type="file"]::-webkit-file-upload-button {
    background: #26a69a;
    border: 1px solid gray;
    cursor: pointer;
    color: #fff;
    border-radius: .2em;
}

#loading {
  position: fixed;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-align: center;
  opacity: 0.7;
  background-color: #fff;
  z-index: 99;
}

#loading-image {
  position: absolute;
  top: 100px;
  left: 240px;
  z-index: 100;
}

.container {
  width: 100%;
  max-width: 640px;
  margin: 0 auto;
  height: 100vh;
}

#game-canvas {
  position: relative;
}

#game-ui {
  position: absolute;
  width: 100%;
  height: 100%;
  pointer-events: none;
  user-select: none;
  font-weight: 700;
  display: none;
  transform-origin: top left;
}

#game-score {
  position: absolute;
  width: 100%;
  border-bottom: 2px dotted #333;
  font-size: 84px;
  font-weight: 900;
  padding-left: 16px;
  color: var(--col-bg-lighter);
  text-shadow: 3px 3px 0 var(--col-primary), -3px -3px 0 var(--col-primary), -3px 3px 0 var(--col-primary), 3px -3px 0 var(--col-primary);
}

#game-end-container {
  position: absolute;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-items: center;
  background-color: var(--col-shadow);
}

#game-end {
  text-align: center;
  padding: 32px 48px;
  background-color: var(--col-bg-lighter);
  border: 5px solid var(--col-primary);
  box-shadow: 0 4px 32px var(--col-shadow);
  border-radius: 32px;
  margin: 0 auto;
  pointer-events: initial;
  user-select: initial;
}

#game-end-title {
  font-weight: 700;
  font-size: 48px;
  color: var(--col-primary-dark);
}

#game-end-link {
  display: inline-block;
  color: var(--col-white);
  font-size: 24px;
  text-decoration: none;
  background-color: var(--col-primary-light);
  margin-top: 16px;
  padding: 16px;
  border-radius: 16px;
  box-shadow: 4px 4px 0 var(--col-shadow);
}

#game-end-link:hover {
  background-color: var(--col-primary);
  box-shadow: 6px 6px 0 var(--col-shadow);
}

#game-status {
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  height: 48px;
  background-color: var(--col-bg-lighter);
  display: flex;
}

.game-status-item {
  display: flex;
  line-height: 1;
  align-items: center;
  margin-right: 32px;
}

.game-status-label {
  color: #666;
  font-size: 16px;
  margin-left: 24px;
  margin-right: 8px;
}

#game-highscore-value {
  color: #333;
  font-weight: 700;
  font-size: 24px;
}

#game-next-fruit {
  width: 24px;
  height: 24px;
}

.select-dropdown {
  font-size: 60px !important;
  text-align: center;
}
